@use "../mixins" as *;

.articles {
	padding: 0;
	list-style-type: none;

	li {
		margin: 0.5em 0;

		display: flex;
		@include mobile {
			flex-direction: column;
		}

		@mixin block {
			padding: 0.5em 1em;
			line-height: 1.4em;
		}
		> div {
			@include block;

			color: dimgray;
			flex: 0 0 auto;

			@include mobile {
				padding: 1em 0 0 1em;
			}
		}
		> a {
			@include block;

			color: royalblue;
			font-weight: bold;
			text-decoration: none;
			flex: 1 1 auto;

			&:hover {
				background-color: ghostwhite;
			}

			small {
				display: block;
				color: dimgray;
				font-weight: normal;
				text-transform: uppercase;
				font-size: 0.7rem;
			}
		}
	}
}
