@use "../mixins" as *;

.articles {
	padding: 0;
	list-style-type: none;

	li {
		margin: 0.5em 0;

		display: flex;
		@include mobile {
			flex-direction: column;
		}

		> div {
			color: gray;

			flex: 0 0 auto;
			margin: 0.5em 1em;
			@include mobile {
				margin: 1em 0 0 1em;
			}
		}
		> a {
			color: royalblue;
			font-weight: bold;
			text-decoration: none;

			flex: 1 1 auto;
			padding: 0.5em 1em;

			&:hover {
				background-color: ghostwhite;
			}

			small {
				display: block;
				color: gray;
				font-weight: normal;
				text-transform: uppercase;
				font-size: 0.7rem;
			}
		}
	}
}
