$boxSize: 32px;

.social {
	text-align: right;
	margin: 2em 0;

	a {
		margin-left: #{$boxSize * 0.0625};

		span {
			display: inline-block;
			height: $boxSize;
			width: $boxSize;
			padding: #{$boxSize * 0.25};
		}
	}
}
