@use "../mixins" as *;

$baseWidth: 2em;
$baseHeight: 1.6em;

$gapSize: 0.2em;
$metaSize: 24px;
$borderSize: 2px;

.post {
	@include pageContainer;
}
.meta {
	small {
		color: gray;
	}
	h1 {
		margin: 0 0 0.2em 0;
	}
	> div {
		color: gray;
		display: flex;

		@include mobile {
			flex-direction: column;
		}

		> div {
			display: flex;
			align-items: center;

			@include mobile {
				flex-wrap: wrap;
				&:first-child {
					margin-bottom: $baseHeight;
				}
			}

			img {
				width: $metaSize;
				height: $metaSize;
				border-radius: #{$metaSize / 2};
			}
			a {
				text-decoration: none;
				color: inherit;
				margin-left: #{$gapSize * 2};

				&:hover {
					text-decoration: underline;
				}
			}

			&:first-child::after {
				content: "";
				display: inline-block;

				@include mobile {
					display: none;
				}

				width: $borderSize;
				height: $metaSize;
				margin: 0 #{$gapSize * 4};

				background-color: gainsboro;
				transform: skewX(-10deg);
			}
		}
	}
}
.content {
	hr {
		border: none;
		background-color: gainsboro;
		height: $borderSize;
		margin: $baseHeight 0;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: #{$baseHeight * 2} 0 $baseHeight 0;

		&::before {
			content: "#";
			color: lightslategray;
			margin-right: #{$gapSize * 2};
		}
	}
	pre {
		margin: 0;
		border-radius: $gapSize;
		background-color: whitesmoke;

		code {
			display: block;
			overflow-x: auto;
			padding: $baseHeight $baseWidth;
			tab-size: 4;
		}
	}
	a {
		color: royalblue;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	p {
		margin: $baseHeight 0;
		line-height: $baseHeight;
	}
	blockquote {
		margin: 0;
		padding: $baseHeight $baseWidth;
		color: gray;
		border-left: #{$baseWidth / 4} solid gainsboro;

		:first-child {
			margin-top: 0;
		}
		:last-child {
			margin-bottom: 0;
		}
	}
	li {
		line-height: $baseHeight;
	}
	code {
		padding: $gapSize #{$gapSize * 2};
		border-radius: $gapSize;
		background-color: whitesmoke;
		font-family: Courier, monospace;
	}
	img {
		max-width: 100%;
	}
	table {
		border-collapse: collapse;
		th,
		td {
			padding: #{$baseHeight / 4} #{$baseWidth / 2};
			border: 1px solid gainsboro;
		}
	}
	aside {
		margin: $baseHeight 0;

		a {
			display: inline-flex;
			min-width: 60%;

			border: 1px solid gainsboro;
			border-radius: $gapSize;

			background-size: contain;
			background-repeat: no-repeat;
			background-position: right center;

			color: inherit;
			&:hover {
				text-decoration: none;
			}

			$msgAreaSize: 70%;
			div {
				width: 100%;
				padding: $baseHeight $baseWidth;
				background: linear-gradient(to right, #ffff $msgAreaSize, #fff0);

				> * {
					display: block;
					width: $msgAreaSize;
				}
				cite {
					color: lightslategray;
					font-style: normal;
					font-size: 0.8em;
				}
				q {
					color: gray;
					padding-top: #{$baseHeight / 2};
					quotes: none;
				}
			}
		}
	}
}
