.Index :global {
	ul {
		padding: 0;
		list-style-type: none;

		li {
			margin: 0.5em 0;

			display: flex;
			flex-direction: column;

			> div {
				flex-shrink: 0;
				padding: 1em 0 0 1em;
				color: gray;
			}
			> a {
				color: royalblue;
				font-weight: bold;
				text-decoration: none;
				padding: 0.5em 1em;

				&:hover {
					background-color: ghostwhite;
				}
			}

			@media screen and (min-width: 768px) {
				flex-direction: row;

				> div {
					width: 7em;
					text-align: right;
					padding: 0.5em 1em 0.5em 0;
				}
			}
		}
	}
}
