$boxSize: 32px;

.social {
	text-align: right;
	margin: 1em 0;

	a {
		margin-left: #{$boxSize / 16};

		span {
			display: inline-block;
			height: $boxSize;
			width: $boxSize;
			padding: #{$boxSize / 4};
		}
	}
}
